.wrapper {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 20px;
}

.wrapper a:first-child {
	grid-column: 1 / -1;
}

.carousel {
	margin: 0 -16px;
	overflow: hidden;
}

@media screen and (max-width: 1024px) {
	.wrapper a:last-child {
		display: none;
	}
}
