.header {
	display: grid;
	grid-template-columns: 1fr auto auto;
	align-items: flex-end;
	column-gap: 16px;
}

.title {
	color: var(--dark);
	font-weight: 700;
	font-size: 40px;
	line-height: 44px;
	letter-spacing: -0.7px;
}

.title span {
	margin-left: 10px;
	color: var(--gray4);
}

.icon {
	cursor: pointer;
}

.track {
	display: grid;
	grid-auto-columns: min-content;
	grid-auto-flow: column;
	margin-top: 40px;
	padding-bottom: 8px;
	overflow: scroll;
	column-gap: 20px;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
}

.track::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.track a {
	scroll-snap-align: start end;
}

.link {
	display: none;
}

@media screen and (max-width: 768px) {
	.title {
		font-size: 32px;
		line-height: 45px;
		letter-spacing: -0.5px;
	}

	.icon {
		display: none;
	}

	.track {
		margin-top: 24px;
		column-gap: 8px;
	}

	.link {
		display: block;
		margin-top: 24px;
		padding: 12px 0 14px 0;
		color: var(--dark);
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: -0.1px;
		text-align: center;
		background: rgba(218, 223, 229, 0.3);
	}
}
