.header {
	display: grid;
	grid-template-columns: 1fr auto auto;
	align-items: flex-end;
	column-gap: 16px;
}

.title {
	color: var(--dark);
	font-weight: 700;
	font-size: 40px;
	line-height: 44px;
	letter-spacing: -0.7px;
}

.title span {
	margin-left: 10px;
	color: var(--light-gray);
}

.arrow {
	outline: none;
	cursor: pointer;
}

.track {
	display: grid;
	grid-auto-flow: column;
	margin-top: 40px;
	padding: 0 0 8px 2px;
	overflow: scroll;
	column-gap: 17px;
	scrollbar-width: none;
	scroll-snap-type: x mandatory;
}

.item {
	scroll-snap-align: start end;
	padding-right: 2px;
}

.redirect,
.track::-webkit-scrollbar {
	display: none;
}

.item-redirect {
	display: grid;
	grid-template-columns: max-content;
	align-content: center;
	justify-items: center;
}

.circle {
	position: relative;
	width: 50px;
	height: 50px;
	background: rgba(218, 223, 229, 0.2);
	border-radius: 50%;
}

.circle svg {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}

@media screen and (max-width: 768px) {
	.title {
		font-size: 32px;
		line-height: 45px;
		letter-spacing: -0.5px;
	}

	.arrow {
		display: none;
	}

	.track {
		margin: 24px 0 0 -16px;
		margin-right: -16px;
		padding-left: 16px !important;
		column-gap: 8px;
	}

	.item {
		scroll-snap-align: none;
	}

	.redirect {
		display: block;
		margin-top: 24px;
		padding: 12px 0 14px 0;
		color: var(--dark);
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: -0.1px;
		text-align: center;
		background: rgba(218, 223, 229, 0.3);
	}

	.item-redirect {
		display: none;
	}
}
