.wrapper {
	position: relative;
	display: block;
	width: 676px;
	height: 300px;
	color: var(--white);
}

.wrapper > span {
	position: absolute !important;
	top: 0;
	left: 0;
	z-index: -1;
}

.tag {
	margin: 20px 0 0 15px;
}

.block {
	position: absolute;
	right: 15px;
	bottom: 15px;
	left: 15px;
}

.title {
	width: 500px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 40px;
	line-height: 44px;
	letter-spacing: -0.7px;
}
