.wrapper {
	position: relative;
	display: block;
	width: 212px;
	height: 300px;
	color: var(--gray3);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15), 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.tag {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 1;
}

.block {
	position: absolute;
	bottom: 20px;
	padding: 0 10px 0 15px;
}

.title {
	margin-bottom: 24px;
	color: var(--dark);
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -0.1px;
}

.comments {
	fill: var(--gray3);
}
