* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Golos, sans-serif;
}

section,
header {
	max-width: 1172px;
	margin: 0 auto;
	padding: 0 16px;
}

section {
	margin-bottom: 100px;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style-type: none;
}

:root {
	--dark: #161c26;
	--white: #fff;
	--gray: #667180;
	--light-gray: #dadfe5;
	--blue: #0087cb;
	--light-blue: #1698d9;
}

@media screen and (max-width: 1024px) {
	section,
	header {
		max-width: 972px;
	}
}

@media screen and (max-width: 768px) {
	section,
	header {
		max-width: 100%;
	}
}
