.segments {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
}

.article-segment {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 20px;
}

.article-segment a:first-child {
	grid-column: 1 / -1;
}
