.segments {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	column-gap: 20px;
}

@media screen and (max-width: 1024px) {
	.segments {
		column-gap: 0;
	}
}

@media screen and (max-width: 768px) {
	.segments {
		grid-template-columns: 1fr;
		row-gap: 32px;
	}
}
